POSTGRES_USER=mar-tuico
POSTGRES_PASSWORD=postgres
POSTGRES_DB=queue_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://mar-tuico:postgres@postgres:5432/queue_db
DATABASE_URL_SYNC=postgresql://mar-tuico:postgres@postgres:5432/queue_db
DB_DEBUG=True
SECRET_KEY=GENERATE_YOUR_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
PROJECT_ID=local-project
TOPIC_ID=demo-topic
SUBSCRIPTION_ID=demo-subscription
PUBSUB_EMULATOR_HOST=pubsub:8085
