[tool.black]

line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.venv
  | __pycache__
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 120
known_first_party = "app"
known_third_party = "fastapi,pydantic,sqlalchemy,psycopg2"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

